<!DOCTYPE html>
<html lang="en">
  <head>

    <meta name="google-site-verification" content="VhzF7JCu2mb_RQCmz1HYf_82tY81Xn9IY_2gA29Cyp4" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="author" content="{{ site.author }}" />
    <meta name="description" content="{{ site.description }}">
    <link rel="favicon" href="{{ site.baseurl }}static/img/favicon.ico">

    {% if page.title %}
      <title>{{ page.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}

    <!-- Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

	<!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}static/css/main.css" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,200bold,400old" />
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}static/css/syntax.css" />

    {% seo %}
    <!-- Google Analytics -->
    {% include analytics.html %}
  </head>
  <!-- Main Body-->
  <body>
  <!-- Wrap all page content here -->
  <div id="wrap">
    <!-- Navbar header -->
    {% include header.html %}

    {{ content }}

  </div>
  <!-- Footer -->
  {% include footer.html %}


    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{{ site.baseurl }}static/js/docs.min.js"></script>
    <script src="{{ site.baseurl }}static/js/main.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ site.baseurl }}static/js/ie10-viewport-bug-workaround.js"></script>

  </body>
</html>
